@model IEnumerable<SaveThem.Models.ShoppingCart>

@{
    ViewBag.Title = "Index";
    SelectList crslist = ViewBag.SpeciesSelectList;
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesId)
        </th>
    </tr>
    <tr>
        <th>
            <form method="post" id="filter" action="@Url.Action("Index", "ShoppingCart")">
                @Html.DropDownList("SpeciesFilter", crslist, "All", new { @class = "form-control", @style = "width: 16rem; display:inline-block" })
            </form>
        </th>
        <th>
            @Html.ActionLink("Create New", "Create", "ShoppingCart", null, new { @class = "btn btn-primary" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesId)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@section scripts
{
    <script>
$(document).ready(function(){
    $("#courseFilter").change(function () {
        $("#filter").submit();
    });
});
    </script>
}
